shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
node-linker=node-modules
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*@react-native*
public-hoist-pattern[]=*@react-navigation*
public-hoist-pattern[]=*metro*
